@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #01ca9c;
}
:root {
  --dark: #34495e;
  --light: #ffffff;
  --success: #0abf30;
  --error: #e24d4c;
  --warning: #e9bd0c;
  --info: #3498db;
}
.notifications {
  position: fixed;
  top: 3rem;
  right: 2rem;
}
.notifications :where(.toast1, .column) {
  display: flex;
  align-items: center;
}
.notifications .toast1 {
  width: 40rem;
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 0.4rem;
  padding: 1.6rem 1.7rem;
  margin-bottom: 1rem;
  background: var(--light);
  justify-content: space-between;
  animation: show_toast 0.3s ease forwards;
  opacity: 100%;
}
@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.notifications .toast1.hide {
  animation: hide_toast 0.3s ease forwards;
}
@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}
.toast1::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    width: 0%;
  }
}
.toast1.success::before {
  background: var(--success);
}
.toast1.error::before {
  background: var(--error);
}
.toast1.warning::before {
  background: var(--warning);
}
.toast1.info::before {
  background: var(--info);
}
.toast1 .column i {
  font-size: 2.2rem;
}
.toast1.success .column i {
  color: var(--success);
}
.toast1.error .column i {
  color: var(--error);
}
.toast1.warning .column i {
  color: var(--warning);
}
.toast1.info .column i {
  color: var(--info);
}
.toast1 .column span {
  font-size: 1.7rem;
  margin-left: 1.2rem;
}
.toast1 i:last-child {
  color: #aeb0d7;
  cursor: pointer;
}
.toast1 i:last-child:hover {
  color: var(--dark);
}

/* Buttons  */
.btns {
  background-color: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 1rem;
  padding: 1.8rem 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #ffffff;
  border-radius: 1rem;
}
.btns:hover {
  background-color: #ffffff;
  color: #01ca9c;
  transition: 0.5s ease;
}

.btnslogout {
  background-color: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 1rem;
  padding: 1.8rem 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #ffffff;
  border-radius: 1rem;
}
.btnslogout:hover {
  background-color: red;
  color: #ffffff;
  transition: 0.5s ease;
}

/* Navbar  */
.navSec img {
  width: 4.4rem;
}
.navSec h1 {
  color: green;
}

/* input group  */
.input {
  font-family: "Poppins", sans-serif;
  margin: 1rem;
  font-size: 1.6rem;
  padding: 1.4rem 1rem;
  border-radius: 1rem;
  border: 2px solid green;
  transition: 0.3 ease;
  outline: none;
}
.input:focus {
  border: 2px solid palegreen;
}

#buttonSection {
  width: 25%;
}
#inputSection {
  width: 25%;
}
#login_input {
  width: 25%;
}
#signOut {
  width: 25%;
}
/* Data board  */
.board {
  border-radius: 2rem;
  margin-top: 5rem;
  width: 70%;
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3.4rem;
  margin: 2rem 0;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
h3 {
  margin: 3rem 0;
  font-family: "Poppins", sans-serif;
}
