@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
/* Buttons  */
body {
  background-color: whitesmoke;
}
.btns {
  background-color: white;
  font-size: 2rem;
  margin: 1rem;
  padding: 1.8rem 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
}
.btns:hover {
  box-shadow: 1.2rem 1.2rem #d9a420;
  transition: 0.3s ease;
}

/* Navbar  */
.navSec img {
  width: 4.4rem;
}
.navSec h1 {
  color: green;
}

/* input group  */
.input {
  font-family: "Poppins", sans-serif;
  margin: 1rem;
  font-size: 1.6rem;
  padding: 1.4rem 1rem;
  border-radius: 1rem;
  border: 2px solid green;
  transition: 0.3 ease;
  outline: none;
}
.input:focus {
  border: 2px solid palegreen;
}

#buttonSection {
  width: 25%;
}
#inputSection {
  width: 25%;
}
#login_input {
  width: 25%;
}
#signOut {
  width: 25%;
}
/* Data board  */
.board {
  border-radius: 2rem;
  margin-top: 5rem;
  width: 70%;
  background-color: white;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3.4rem;
  margin: 2rem 0;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
h3 {
  margin: 3rem 0;
  font-family: "Poppins", sans-serif;
}
